In [72]:
from Framework.UtilFuncs import PickleRead, PickleWrite
import pandas as pd

In [73]:
citation_df = PickleRead("./Data/CitationGraphDF.dat")
miscinfo_df = PickleRead("./Data/MiscInfoDF.dat")
coauthor_df = PickleRead("./Data/co_author_analysii.pkl")

load:./Data/CitationGraphDF.dat
load:./Data/MiscInfoDF.dat
load:./Data/co_author_analysii.pkl

In [74]:
citation_df.rename(columns={'NodeID':'PaperID', 'InDegreeCentrality':'PaperImportance_Degree', 
                            'BetweennessCentrality':'PaperImportance_Betweenness'}, inplace=True)
citation_df = citation_df[['PaperID', 'Year', 'PaperImportance_Degree', 'PaperImportance_Betweenness']]
citation_df.head()

   PaperID  Year  PaperImportance_Degree  PaperImportance_Betweenness
0  9304045  1993                0.000704                 2.480540e-07
1  9204040  1993                0.000704                 0.000000e+00
2  9308122  1993                0.000352                 4.961080e-07
3  9203084  1993                0.003169                 0.000000e+00
4  9204035  1993                0.002817                 0.000000e+00

In [75]:
coauthor_df.rename(columns={'NodeID':'PaperID', 'DegreeCentrality':'AuthorImportance_MaxDegree', 
                            'ClosenessCentrality':'AuthorImportance_MaxCloseness',
                            'Degree_Centrality_sum':'AuthorImportance_SumDegree',
                            'Closeness_Centrality_sum':'AuthorImportance_SumCloseness'}, inplace=True)
coauthor_df = coauthor_df[['PaperID', 'Year', 'AuthorImportance_MaxDegree', 'AuthorImportance_MaxCloseness',
             'AuthorImportance_SumDegree', 'AuthorImportance_SumCloseness']]
coauthor_df.head()

,PaperID,Year,AuthorImportance_MaxDegree,AuthorImportance_MaxCloseness,AuthorImportance_SumDegree,AuthorImportance_SumCloseness
0,0001001,2000,0.000689,0.001275,0.000689,0.001275
1,0001001,2001,0.000739,0.003518,0.000739,0.003518
2,0001001,2002,0.000803,0.003861,0.000803,0.003861
3,0001001,2003,0.000788,0.004100,0.000788,0.004100
4,0001002,2000,0.002145,0.003041,0.002375,0.003041

In [76]:
miscinfo_df.rename(columns={'NodeID':'PaperID'}, inplace=True)
miscinfo_df.head()

   PaperID  Year  YearsToNow  ReferenceNum  AuthorNum
0  9304045  1993           0             1          3
1  9308122  1993           0             7          4
2  9309097  1993           0             4          3
3  9311042  1993           0             2          3
4  9210123  1993           1             6          4

In [77]:
merged_df = pd.merge(citation_df, coauthor_df, on=('PaperID', 'Year'))
merged_df = pd.merge(merged_df, miscinfo_df, on=('PaperID', 'Year'))

In [78]:
merged_df.head()

,PaperID,Year,PaperImportance_Degree,PaperImportance_Betweenness,AuthorImportance_MaxDegree,AuthorImportance_MaxCloseness,AuthorImportance_SumDegree,AuthorImportance_SumCloseness,YearsToNow,ReferenceNum,AuthorNum
0,9304045,1993,0.000704,2.480540e-07,0.000750,0.000750,0.001876,0.000750,0,1,3
1,9204040,1993,0.000704,0.000000e+00,0.000750,0.000000,0.001126,0.000000,1,0,3
2,9308122,1993,0.000352,4.961080e-07,0.001501,0.001201,0.003752,0.001951,0,7,4
3,9204035,1993,0.002817,0.000000e+00,0.000375,0.000000,0.000375,0.000000,1,0,5
4,9205041,1993,0.002817,0.000000e+00,0.000750,0.000375,0.001501,0.000375,1,0,2

In [79]:
merged_df.to_csv("./Data/Citation.csv")