In [4]:
from Framework.UtilFuncs import PickleRead, PickleWrite
import pandas as pd

In [5]:
citation_df = PickleRead("./Data/CitationGraphDF.dat")
miscinfo_df = PickleRead("./Data/MiscInfoDF.dat")
coauthor_df = PickleRead("./Data/CoauthorGraphDF.dat")

load:./Data/CitationGraphDF.dat
load:./Data/MiscInfoDF.dat
load:./Data/CoauthorGraphDF.dat

In [6]:
citation_df.rename(columns={'NodeID':'PaperID', 'InDegreeCentrality':'PaperImportance_Degree'}, inplace=True)
citation_df = citation_df[['PaperID', 'Year', 'PaperImportance_Degree']]
#citation_df.head()
len(citation_df)

168563

In [8]:
coauthor_df.head()

,PaperID,Year,AuthorDegreeCentrality_Max,AuthorClosenessCentrality_Max,AuthorDegreeCentrality_Sum,AuthorClosenessCentrality_Sum
0,9210123,1992,0.002244,0.002244,0.005236,0.002244
1,9206053,1992,0.001496,0.001496,0.002244,0.001496
2,9203079,1992,0.002244,0.002244,0.003740,0.002244
3,9308124,1992,0.002244,0.001683,0.004488,0.002431
4,9206084,1992,0.002244,0.000000,0.002244,0.000000

In [9]:
miscinfo_df.rename(columns={'NodeID':'PaperID'}, inplace=True)
miscinfo_df.head()

#print(len(miscinfo_df))

   PaperID  Year  YearsToNow  ReferenceNum  AuthorNum
0  9210123  1992           0             6          4
1  9206053  1992           0             1          2
2  9203079  1992           0             1          3
3  9308124  1992           0            14          3
4  9206084  1992           0             1          1

In [10]:
merged_df = pd.merge(citation_df, coauthor_df, on=('PaperID', 'Year'))

merged_df = pd.merge(merged_df, miscinfo_df, on=('PaperID', 'Year'))
print(len(merged_df))

168563

In [12]:
merged_df.to_csv("./Data/Citation.csv")